* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

main {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.billboard {
  height: 300px;
  width: 400px;
}

.list a:hover {
    background-color: rgba(47, 47, 145, 0.288);
}